@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "智能云平台";
    Layout = "_shared/test";
    Ace.RenderAuthOptions = true;
}
<div class="ct-gray">
    <div class="pt30 pb30 text-c">
        <span class="text-warning h3">欢迎您访问智能云平台测试中心！</span>
    </div>
    <div class="container-fluid">
        @Html.Partial("_views/user-hor", Ace.AC)
        <div class="row bg-head">
            <div class="col-md-12 pt5 pb5 fwb">测试中心简介</div>
        </div>
        <div class="row bg-body mb15">
            <div class="col-md-12 pt10 pb10 lh30">
                <ul style="list-style:decimal;margin-left:1em">
                    <li>测试中心主要服务于产品出厂时<span class="fwb cr-red">云端设备注册、序列号生成、数据初始化、配网及在线测试</span>等功能。</li>
                    <li>测试帐户的申请请联系系统管理员进行开放，开放后可登录本系统。</li>
                    <li>每个测试帐户关联一个工厂代号，该代号用于设备序列号的生成。本帐户关联的工厂代号为：<span class="fwb cr-red">@Ace.AC.User.RefCode</span></li>
                    <li>产品序列号SN的长度为12位，生成规则为：<span class="fwb cr-red">4位产品编号 + 1位工厂代号 + 2位当前年度 + 1位月份 + 4位流水号</span></li>
                    <li>生产测试流程：<span class="fwb cr-red">设备注册 —> 生成序列号 —> 打印粘贴序列号 —> APP扫码序列号 —> APP配网 —> 在线测试 —> 测试完成 —> 恢复出厂设置</span></li>
                    <li>设备注册时，请上传MAC清单（Excel文件），上传后云端生成序列号，可下载自行打印/生成二维码进行粘贴。</li>
                    <li>[环都新风]客户端APP下载地址：<a href="/home/down?clientid=983633255355908096" target="_blank">客户端下载</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>