@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/back";
}
<div class="alert alert-info">提供微信公众号（订阅号和服务号）接入和管理功能！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <div class="pt15">
        <img src="~/apps/plat/wechat.png" />
    </div>
</div>