@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/back";
}
<div class="alert alert-info">提供微信公众号（订阅号和服务号）接入和管理功能！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <ul class="pt5" style="list-style:decimal;padding-left:2em">
        <li class="pt10">
            <b>公众号接入</b>
            <div class="pt10 pb10 lh25">
                接入微信公众号（订阅号和服务号)，提供公众号AppId、AppSecret生成服务器URL配置到公众号后台。
            </div>
        </li>
        <li class="pt10">
            <b>微信菜单</b>
            <div class="pt10 pb10 lh25">
                提供公众号菜单的实时修改和上传，上传后重新关注立即生效。
            </div>
        </li>
        <li class="pt10">
            <b>微信用户</b>
            <div class="pt10 pb10 lh25">
                对常用微信用户（粉丝）进行管理，可以单向预览发送消息（不限次数）。
            </div>
        </li>
        <li class="pt10">
            <b>微信素材</b>
            <div class="pt10 pb10 lh25">
                微信素材上传，主要分为图文(mpnews)、文本(text)、声音(voice)、图片(image)、视频(video)、缩略图(thumb)。
            </div>
        </li>
        <li class="pt10">
            <b>微信群发</b>
            <div class="pt10 pb10 lh25">
                提供微信图文编辑及群发功能，订阅号每天可群发1次，服务号每个月可群发4次。
            </div>
        </li>
    </ul>
</div>