body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}
body {
    font-family: -apple-system-font,"Helvetica Neue",Helvetica,sans-serif
}
body {
    background-color: #eee
}
.icon, .btn.fa {
    line-height: 50px;
    font-size: 1.5em;
}
.weui-btn:hover,.btn.fa,.btn.fa:hover,.btn.fa:focus,.btn.fa:visited,.white,.white:hover,.white:focus,.white:visited {
    color: #fff
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1
}
.page .hd {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    background-color: #337ab7
}
.hd.webapp {
    background-color: #113F90
}
.hd .btn {
    position: relative;
    z-index: 2;
    top: 0
}
.hd .title {
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: 400
}
.bd {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0
}

.aceui-form .row:first-child {
    padding-top: 10px;
}
.aceui-form .row:last-child {
    padding-bottom: 10px;
    border-bottom: 0;
}

.weui-tabbar__item {
    font-size: 1.5em
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon {
    color: #04be02
}
.weui-tabbar__label {
    font-size: .6em
}
.weui-popup__container {
    position: absolute;
    top: 50px;
    height: unset;
}
.weui-popup__overlay {
    position: absolute;
    top: 0;
    height: unset;
}
.weui-navbar__item.weui-bar__item--on {
    background-color: #c3c3c3;
}
.weui-cell_switch {
    line-height: 0.5em;
}
.weui-uploader__info {
    color: #b2b2b2
}
.weui-uploader__bd {
    margin-bottom: -4px;
    margin-right: -9px;
    overflow: hidden
}
.weui-uploader__files {
    list-style: none;
    padding-top: 10px;
}
.weui-uploader__file {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 79px;
    height: 79px;
    background: no-repeat 50%;
    background-size: cover;
    border: 1px solid #eee;
    position: relative;
    display: inline-block;
}
.weui-uploader__file .close {
    position: absolute;
    display: inline-block;
    right: -6px;
    top: -6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 12px;
    background-color: #FF5053;
    color: #f3f3f3;
    border: solid 1px #FF5053;
    font-size: 9px;
    font-weight: 200;
    z-index: 1;
    cursor: pointer;
}
.weui-media-box__title {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.flex-1 {
    line-height: 1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}
.flex-2 {
    line-height: 1.2em;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2
}
.weui-photo-browser-modal{
    z-index: 999
}

.cms {
    padding: 15px;
    margin: 0 auto;
    max-width: 800px;
}
.cms-title {
    padding-top: 15px;
    line-height: 1.8em;
}
.cms-author {
    padding: 15px 0;
    color: #777;
}
.cms-photo {
    padding-top: 15px;
}
.cms-author span {
    margin-right: 15px;
}
.cms-content {
    padding: 15px 0;
}
.cms-content>p,.cms-content>div {
    text-indent: 2em;
    padding-top: 15px;
}
.cms-number, .cms-number div {
    height: 20px;
}
.cms-number .click {
    line-height: 20px;
    color: #777;
}
.cms-number .zan {
    line-height: 20px;
    color: #6833a4;
}
.cms-number img {
    height: 16px;
    line-height: 20px;
    cursor: pointer;
}