@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "产品统计";
    Layout = "_shared/body";
}
<div class="container-fluid pt15">
    <div class="row">
        <div class="col-md-6">
            @{
                Ace.EChart().Id("chart").Height("480px")
                .Dataset()
                .Option(opt =>
                {
                    opt.AddTitle().Text("按用户注册类型统计");
                    opt.AddLegend();
                    opt.AddXAxis().TypeCate();
                    opt.AddYAxis();
                    opt.AddSeries(ChartType.bar).Name("数量");
                })
                .Ajax(ds => ds.DataSource("iot.chart_user_sl").HttpGet())
                .Render();
            }
        </div>
        <div class="col-md-6">
            @{
                Ace.EChart().Id("chart").Height("480px")
                .Dataset()
                .Option(opt =>
                {
                    opt.AddLegend();
                    opt.AddSeries(ChartType.pie);
                })
                .Ajax(ds => ds.DataSource("iot.chart_user_sl").HttpGet())
                .Render();
            }
        </div>
    </div>
</div>
@section startup {
    <script src="~/scripts/echarts/dist/echarts.min.js"></script>
}