@page
@inherits Acesoft.Web.UI.RazorPages.AppPage
@{
    Layout = "_shared/webapp";

    var ac = Membership.Current;
    var version = App.GetQuery("version", "");
    var sbno = App.GetQuery("sbno", "");
    var name = App.GetQuery("name", "");
    ViewData["Title"] = $"{name}-{sbno}";
}
<div class="page">
    <div class="bd">
        <img src="~/wechat/@(sbno).jpg" style="width:100%" />
    </div>
</div>
<script>
</script>