<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="cms">
  <caches>
    <cache id="c_item" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="item" />
    </cache>
    <cache id="c_news" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="item" />
      <flushonexecute sqlmap="news" />
      <flushonexecute sqlmap="exe_news_wxsync" />
      <flushonexecute sqlmap="exe_news_submit" />
      <flushonexecute sqlmap="exe_news_audit" />
      <flushonexecute sqlmap="exe_news_back" />
      <flushonexecute sqlmap="exe_news_publish" />
      <flushonexecute sqlmap="exe_news_cancel" />
      <flushonexecute sqlmap="exe_news_top" />
      <flushonexecute sqlmap="exe_news_untop" />
    </cache>
  </caches>
  <sqlmaps>
    <!-- exec -->
    <sqlmap id="exe_news_wxsync">
      <param name="sql" value="exec cms_news_wxsync @id,@newid" />
    </sqlmap>
    <sqlmap id="exe_news_submit">
      <param name="sql" value="update cms_news set audit='3' where id in(@ids) and (audit='0' or audit='2')" />
    </sqlmap>
    <sqlmap id="exe_news_audit">
      <param name="sql" value="update cms_news set audit='1',state='1' where id in(@ids) and audit='3'" />
    </sqlmap>
    <sqlmap id="exe_news_back">
      <param name="sql" value="update cms_news set audit='2' where id in(@ids) and audit='3'" />
    </sqlmap>
    <sqlmap id="exe_news_publish">
      <param name="sql" value="update cms_news set state='1' where id in(@ids) and (state='0' or state='2')" />
    </sqlmap>
    <sqlmap id="exe_news_cancel">
      <param name="sql" value="update cms_news set state='2' where id in(@ids) and state='1'" />
    </sqlmap>
    <sqlmap id="exe_news_top">
      <param name="sql" value="update cms_news set itop=(select isnull(max(itop),0)+1 from cms_news) where id=@id" />
    </sqlmap>
    <sqlmap id="exe_news_untop">
      <param name="sql" value="update cms_news set itop=0 where id=@id" />
    </sqlmap>
    <sqlmap id="get_mp_topnews">
      <param name="sql" value="select top 5 id,title,photos from cms_itemnews_view 
          where code='xtgg' and photos is not null order by itop desc,dpublish desc" />
    </sqlmap>
    
    <!--weapp-->
    <sqlmap id="get_mp_item">
      <param name="table" value="cms_itemnews_view" />
      <param name="fields" value="*" />
      <param name="where" value="code='xtgg'" />
      <param name="orderby" value="dcreate desc" />
      <query name="keyword" value="title like '%{0}%' or text like '%{0}%'" />
    </sqlmap>
    <sqlmap id="get_mp_news">
      <param name="sql" value="select * from cms_news_view where id=@id" />
      <query name="id" value="qs" />
    </sqlmap>
    <sqlmap id="set_mp_click">
      <param name="sql" value="select * from cms_news_view where id=@id" />
      <query name="id" value="qs" />
    </sqlmap>
    

    <sqlmap id="item">
      <param name="table" value="cms_item" />
      <param name="writetable" value="cms_item" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec cms_item_del @id" />
    </sqlmap>
    <sqlmap id="item_tree">
      <param name="sql" value="select id,name,parentid,orderno from cms_item" />
    </sqlmap>
    <sqlmap id="item_grid" cache="c_item">
      <param name="table" value="cms_item_view" />
      <param name="writetable" value="cms_item" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="orderno" />
      <param name="istree" value="true" />
      <action name="action" value="add_plus=加子,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>
    <sqlmap id="news">
      <param name="table" value="cms_news" />
      <param name="writetable" value="cms_news" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec cms_news_del @id" />
    </sqlmap>
    <sqlmap id="news_grid" cache="c_news">
      <param name="table" value="cms_news_view" />
      <param name="writetable" value="cms_news" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate desc" />
      <action name="action" value="tj_arrow-up=提交,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or source like '%{0}%' or author like '%{0}%'" />
      <query name="audit" value="audit='{0}'" />
    </sqlmap>
    <sqlmap id="audit_grid" cache="c_news">
      <param name="table" value="cms_news_view" />
      <param name="writetable" value="cms_news" />
      <param name="fields" value="*" />
      <param name="where" value="audit='3' or audit='1'" />
      <param name="orderby" value="dcreate desc" />
      <action name="action" value="sh_check=审核,th_arrow-left=退回,edit=编辑" />
      <query name="keyword" value="name like '%{0}%' or source like '%{0}%' or author like '%{0}%'" />
      <query name="audit" value="audit='{0}'" />
    </sqlmap>
    <sqlmap id="publish_grid" cache="c_news">
      <param name="table" value="cms_news_view" />
      <param name="writetable" value="cms_news" />
      <param name="fields" value="*" />
      <param name="where" value="audit='1'" />
      <param name="orderby" value="itop desc,dcreate desc" />
      <action name="action" value="fb_check=发布,qx_arrow-left=取消,zd_arrow-up=置顶,ud_arrow-down=取消置顶,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or source like '%{0}%' or author like '%{0}%'" />
      <query name="state" value="state='{0}'" />
    </sqlmap>
  </sqlmaps>
</sqlscope>