<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="ec">
  <caches>
    <cache id="c_class" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="60" />
      <flushonexecute sqlmap="class" />
    </cache>
    <cache id="c_product" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="60" />
      <flushonexecute sqlmap="class" />
      <flushonexecute sqlmap="product" />
      <flushonexecute sqlmap="exe_iot_data" />
    </cache>
    <cache id="c_chart" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="60" />
    </cache>
  </caches>
	
  <sqlmaps>
    <!-- get -->
    <sqlmap id="get_mp_tags">
      <param name="sql" value="update ec_product set state=1 where id in(@ids) and isnull(state,0)=0" />
    </sqlmap>
    <sqlmap id="get_mp_products">
      <param name="table" value="ec_product_view" />
      <param name="fields" value="*" />
      <param name="where" value="state=1" />
      <param name="orderby" value="dcreate desc" />
      <query name="keyword" value="name like '%{0}%' or text like '%{0}%' 
             or brand like '%{0}%' or cpxh like '%{0}%'" />
      <query name="classid" value="fstcls_id={0}" />
      <query name="new" value="new={0}" />
    </sqlmap>
    <sqlmap id="get_mp_sub">
      <param name="table" value="ec_user_view" />
      <param name="fields" value="*" />
      <param name="where" value="user_id={@userid}" />
      <param name="orderby" value="dcreate desc" />
    </sqlmap>
    <sqlmap id="get_mp_pub">
      <param name="table" value="ec_product_view" />
      <param name="fields" value="*" />
      <param name="where" value="user_id={@userid}" />
      <param name="orderby" value="dcreate desc" />
    </sqlmap>

    <!-- exec -->
    <sqlmap id="exe_product_audit">
      <param name="sql" value="update ec_product set state=1 where id in(@ids) and isnull(state,0)=0" />
    </sqlmap>
    <sqlmap id="exe_product_top">
      <param name="sql" value="update ec_product set itop=(select isnull(max(itop),0)+1 from ec_product) where id=@id" />
    </sqlmap>
    <sqlmap id="exe_product_untop">
      <param name="sql" value="update ec_product set itop=0 where id=@id" />
    </sqlmap>
    <sqlmap id="exe_mp_setsub">
      <param name="sql" value="exec ec_product_sub @userid,@productid" />
    </sqlmap>
    <sqlmap id="exe_mp_getsub">
      <param name="sql" value="select count(*) from ec_user where product_id=@productid and user_id=@userid" />
    </sqlmap>
    <sqlmap id="exe_mp_sale">
      <param name="sql" value="update ec_product set state=2 where id=@productid and state=1" />
    </sqlmap>
    <sqlmap id="exe_mp_delete">
      <param name="sql" value="exec ec_product_del @productid" />
    </sqlmap>

    <!-- chart -->
    <sqlmap id="chart_product_sf" cache="c_chart">
      <param name="sql" value="select province,count(*) as value from ec_product group by province" />
    </sqlmap>

    <!-- product -->
    <sqlmap id="class">
      <param name="table" value="ec_class" />
      <param name="writetable" value="ec_class" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="class_list" cache="c_class">
      <param name="sql" value="select id as value,name as text from ec_class order by orderno" />
    </sqlmap>
    <sqlmap id="class_tree" cache="c_class">
      <param name="sql" value="select id,name,parentid,orderno from ec_class" />
    </sqlmap>
    <sqlmap id="product">
      <param name="table" value="ec_product" />
      <param name="writetable" value="ec_product" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec ec_product_del @id" />
    </sqlmap>
    <sqlmap id="product_grid">
      <param name="table" value="ec_product_view" />
      <param name="fields" value="*" />
      <param name="where" value="new=1" />
      <param name="orderby" value="dcreate desc" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or text like '%{0}%' 
             or brand like '%{0}%' or cpxh like '%{0}%' 
             or province like '%{0}%' or city like '%{0}%'
             or contact like '%{0}%' or phone like '%{0}%'" />
      <query name="_classid" value="fstcls_id={0} or sndcls_id={0}" />
    </sqlmap>
    <sqlmap id="audit_grid">
      <param name="table" value="ec_product_view" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="itop desc,dcreate desc" />
      <action name="action" value="audit_check=审核,zd_arrow-up=置顶,ud_arrow-down=取消置顶,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or text like '%{0}%' 
             or brand like '%{0}%' or cpxh like '%{0}%' 
             or province like '%{0}%' or city like '%{0}%'
             or contact like '%{0}%' or phone like '%{0}%'" />
      <query name="class" value="fstcls_id={0} or sndcls_id={0}" />
      <query name="state" value="state={0}" />
    </sqlmap>

    <!-- ec_user -->    
    <sqlmap id="productuser_grid">
      <param name="table" value="ec_user_view" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="dcreate" />
      <query name="_userid" value="user_id={0}" />
      <query name="_productid" value="product_id={0}" />
    </sqlmap>   
    <sqlmap id="userproduct_grid">
      <param name="table" value="ec_product_view" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="dcreate" />
      <query name="_userid" value="user_id={0}" />
    </sqlmap>
  </sqlmaps>
</sqlscope>