<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="hr">
  <caches>
    <cache id="c_depart" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="depart" />
    </cache>
    <cache id="c_station" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="station" />
    </cache>
    <cache id="c_person" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="person" />
    </cache>
  </caches>

  <sqlmaps>
    <sqlmap id="get_depart_orderno">
      <param name="sql" value="select 10*(count(*)+1) from hr_depart where len(departno)=@length" />
    </sqlmap>
    
    <sqlmap id="depart">
      <param name="table" value="hr_depart" />
      <param name="writetable" value="hr_depart" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="checkinsertsql" value="select count(*) from hr_depart where departno=@departno" />
      <param name="checkinserterror" value="不能添加相同的机构编码！" />
      <param name="deletesql" value="exec hr_depart_del @id" />
    </sqlmap>
    <sqlmap id="depart_tree">
      <param name="sql" value="select departno as id,name,parentid,orderno from hr_depart" />
    </sqlmap>
    <sqlmap id="depart_list">
      <param name="sql" value="select departno as value,name as text from hr_depart order by orderno" />
    </sqlmap>
    <sqlmap id="depart_grid" cache="c_depart">
      <param name="table" value="hr_depart_view" />
      <param name="writetable" value="hr_depart" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="orderno" />
      <param name="istree" value="true" />
      <action name="action" value="add_plus=加子,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>
    <sqlmap id="station">
      <param name="table" value="hr_station" />
      <param name="writetable" value="hr_station" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="station_list">
      <param name="sql" value="select id as value,name as text from hr_station order by dcreate" />
    </sqlmap>
    <sqlmap id="station_grid" cache="c_station">
      <param name="table" value="hr_station" />
      <param name="writetable" value="hr_station" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>
    <sqlmap id="person">
      <param name="table" value="hr_person_view" />
      <param name="writetable" value="hr_person" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="person_grid" cache="c_person">
      <param name="table" value="hr_person_view" />
      <param name="writetable" value="hr_person" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>
    
  </sqlmaps>
</sqlscope>