<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="rbac">
  <caches>
    <cache id="c_scale" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="scale" />
      <flushonexecute sqlmap="user" />
    </cache>
    <cache id="c_user" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="user" />
      <flushonexecute sqlmap="exec_user_auth" />
      <flushonexecute sqlmap="auth" />
    </cache>
    <cache id="c_client" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
    </cache>
    <cache id="c_app" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="app" />
    </cache>
    <cache id="c_role" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="role" />
    </cache>
    <cache id="c_obj" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="obj" />
    </cache>
  </caches>

  <sqlmaps>
    <sqlmap id="get_client_by_name" cache="c_client">
      <param name="sql" value="select * from rbac_client where name=@name" />
    </sqlmap>
    <sqlmap id="query_user_by_id" cache="c_user">
      <param name="sql" value="
        select * from rbac_user where id=@id
        select * from rbac_ua where user_id=@id
        select * from rbac_param where user_id=@id
        select * from rbac_auth where user_id=@id and authid='none'" />
    </sqlmap>
    <sqlmap id="query_user_by_username" cache="c_user">
      <param name="sql" value="
        declare @id bigint
        select @id=id from rbac_user where (loginname=@username or mobile=@username or mail=@username)
        select * from rbac_user where id=@id
        select * from rbac_ua where user_id=@id
        select * from rbac_param where user_id=@id
        select * from rbac_auth where user_id=@id and authid='none'" />
    </sqlmap>
    <sqlmap id="get_user_by_authid" cache="c_user">
      <param name="sql" value="
        declare @id bigint
        select @id=user_id from rbac_auth where app_id=@appid and authid=@authid
        select * from rbac_user where id=@id
        select * from rbac_ua where user_id=@id
        select * from rbac_param where user_id=@id
        select * from rbac_auth where user_id=@id and app_id=@appid" />
    </sqlmap>
    <sqlmap id="get_user_by_loginname" cache="c_user">
      <param name="sql" value="select * from rbac_user where loginname=@loginname" />
    </sqlmap>
    <sqlmap id="get_user_by_mobile">
      <param name="sql" value="select * from rbac_user where mobile=@mobile" />
    </sqlmap>
    <sqlmap id="get_user_by_mail" cache="c_user">
      <param name="sql" value="select * from rbac_user where mail=@mail" />
    </sqlmap>
    <sqlmap id="get_pas_by_roles" cache="c_user">
      <param name="sql" value="select * from rbac_pa where role_id in @roleids" />
    </sqlmap>
    <sqlmap id="del_ua_by_user">
      <param name="sql" value="delete from rbac_ua where user_id=@userid" />
    </sqlmap>
    <sqlmap id="del_ua_by_role">
      <param name="sql" value="delete from rbac_ua where role_id=@roleid" />
    </sqlmap>
    <sqlmap id="del_pa_by_role">
      <param name="sql" value="delete from rbac_pa where role_id=@roleid" />
    </sqlmap>
    <sqlmap id="del_pa_by_obj">
      <param name="sql" value="delete from rbac_pa where ref_id=@objid" />
    </sqlmap>
    <sqlmap id="get_obj_by_url" cache="c_obj">
      <param name="sql" value="select * from rbac_object where url=@url" />
    </sqlmap>
    <sqlmap id="get_objs">
      <param name="sql" value="select * from rbac_obj_view where type=@type and visible=1 
        and (@user='root' or id in(select ref_id from rbac_pa where role_id in @roleids))" />
    </sqlmap>
    <sqlmap id="exec_user_auth">
      <param name="sql" value="exec rbac_user_auth @newid,@userid,@appid,@authtype,@authid" />
    </sqlmap>
    
    <sqlmap id="app">
      <param name="table" value="sys_app" />
      <param name="writetable" value="sys_app" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec sys_app_del @id" />
    </sqlmap>
    <sqlmap id="app_list">
      <param name="sql" value="select id as value,name as text from sys_app order by orderno" />
    </sqlmap>
    <sqlmap id="app_grid" cache="c_app">
      <param name="table" value="sys_app_view" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="" />
      <param name="orderby" value="orderno" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>

    <sqlmap id="scale">
      <param name="table" value="rbac_scale" />
      <param name="writetable" value="rbac_scale" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_scale_del @id" />
    </sqlmap>
    <sqlmap id="scale_grid" cache="c_scale">
      <param name="table" value="rbac_scale_view" />
      <param name="writetable" value="rbac_scale" />
      <param name="fields" value="*,1-edit as [add],edit as auth,edit as adedit,1-system as del" />
      <param name="where" value="parentid={@scaleid}" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <action name="admin" value="add_plus=添加,auth_lock=授权,adedit_edit=编辑,addel_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>

    <sqlmap id="user">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_user_del @id" />
    </sqlmap>
    <sqlmap id="user_grid" cache="c_user">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="scale_id={@scaleid} and creator='{@userid}'" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="auth_lock=授权,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="userid" value="ac" />
    </sqlmap>
    <sqlmap id="auth" cache="c_user">
      <param name="table" value="rbac_auth" />
      <param name="writetable" value="rbac_auth" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="auth_grid" cache="c_user">
      <param name="table" value="rbac_auth" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="del_remove=删除" />
      <query name="keyword" value="authtype like '%{0}%'" />
      <query name="userid" value="user_id={0}" />
    </sqlmap>

    <sqlmap id="role">
      <param name="table" value="rbac_role" />
      <param name="writetable" value="rbac_role" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_role_del @id" />
    </sqlmap>
    <sqlmap id="role_tree">
      <param name="sql" value="select id,name,null parentid,orderno from rbac_role where 1=1" />
    </sqlmap>
    <sqlmap id="roleuser_tree">
      <param name="sql" value="select r.id,r.name,null parentid,r.orderno,
          (case when ua.id is null then 0 else 1 end) as checked from rbac_role r 
          left join rbac_ua ua on r.id=ua.role_id and ua.user_id=@userid 
          where scale_id=@scaleid order by r.dcreate" />
      <query name="userid" value="qs" />
      <query name="scaleid" value="qs" />
    </sqlmap>
    <sqlmap id="role_grid">
      <param name="table" value="rbac_role" />
      <param name="writetable" value="rbac_role" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="scale_id={@scaleid}" />
      <param name="orderby" value="orderno" />
      <action name="action" value="auth_lock=授权,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>
    
    <sqlmap id="obj">
      <param name="table" value="rbac_object" />
      <param name="writetable" value="rbac_object" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_obj_del @id" />
    </sqlmap>
    <sqlmap id="obj_tree">
      <param name="sql" value="select id,name,parentid,orderno from rbac_object where type=0" />
    </sqlmap>
    <sqlmap id="objuser_tree">
      <param name="sql" value="select o.id,o.name,o.parentid,o.orderno,o.opnames,pa.opvalue,
          (case when pa.id is null then 0 else 1 end) as checked 
          from rbac_appobj_view o left join rbac_pa pa on o.id=pa.ref_id and pa.role_id=@roleid 
          where @user='root' or o.parentid is null or (@user!='root' and o.id in(
               select ref_id from rbac_pa where role_id in @roleids))" />
      <query name="roleid" value="qs" />
      <query name="user" value="ac" />
      <query name="roleids" value="ac" />
    </sqlmap>
    <sqlmap id="obj_grid" cache="c_obj">
      <param name="table" value="rbac_obj_view" />
      <param name="writetable" value="rbac_object" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="" />
      <param name="orderby" value="orderno" />
      <param name="istree" value="true" />
      <action name="action" value="add_plus=加子,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>

  </sqlmaps>
</sqlscope>