<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="rbac">
  <caches>
    <cache id="c_scale" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="scale" />
      <flushonexecute sqlmap="user" />
    </cache>
    <cache id="c_user" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="user" />
      <flushonexecute sqlmap="exec_user_auth" />
      <flushonexecute sqlmap="auth" />
    </cache>
    <cache id="c_role" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="role" />
    </cache>
    <cache id="c_object" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="object" />
    </cache>
    
    <cache id="c_chart" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="60" />
    </cache>
  </caches>

  <sqlmaps>
    <sqlmap id="chart_user_sl" cache="c_chart">
      <param name="sql" value="select name,(select count(*) from rbac_user where creator='regist' and regtype=d.value) as value 
             from sys_dictitem d where dict='REGTYPE'" />
    </sqlmap>
    
    <sqlmap id="query_user_by_id" cache="c_user">
      <param name="sql" value="
        select * from rbac_user where id=@id
        select * from rbac_ua where user_id=@id
        select * from rbac_param where user_id=@id
        select * from rbac_auth where user_id=@id and authid='none'" />
    </sqlmap>
    <sqlmap id="query_user_by_username" cache="c_user">
      <param name="sql" value="
        declare @id bigint
        select @id=id from rbac_user where (loginname=@username or mobile=@username or mail=@username)
        select * from rbac_user where id=@id
        select * from rbac_ua where user_id=@id
        select * from rbac_param where user_id=@id
        select * from rbac_auth where user_id=@id and authid='none'" />
    </sqlmap>
    <sqlmap id="get_user_by_authid" cache="c_user">
      <param name="sql" value="
        declare @id bigint
        select @id=user_id from rbac_auth where app_id=@appid and authid=@authid
        select * from rbac_user where id=@id
        select * from rbac_ua where user_id=@id
        select * from rbac_param where user_id=@id
        select * from rbac_auth where user_id=@id and app_id=@appid" />
    </sqlmap>
    <sqlmap id="get_user_by_loginname" cache="c_user">
      <param name="sql" value="select * from rbac_user where loginname=@loginname" />
    </sqlmap>
    <sqlmap id="get_user_by_mobile">
      <param name="sql" value="select * from rbac_user where mobile=@mobile" />
    </sqlmap>
    <sqlmap id="get_user_by_mail" cache="c_user">
      <param name="sql" value="select * from rbac_user where mail=@mail" />
    </sqlmap>
    
    <sqlmap id="get_pas_by_roles" cache="c_user">
      <param name="sql" value="select * from rbac_pa where role_id in @roleids" />
    </sqlmap>    
    <sqlmap id="delete_ua_by_user">
      <param name="sql" value="delete from rbac_ua where user_id=@userid" />
    </sqlmap>
    <sqlmap id="delete_ua_by_role">
      <param name="sql" value="delete from rbac_ua where role_id=@roleid" />
    </sqlmap>
    <sqlmap id="delete_pa_by_role">
      <param name="sql" value="delete from rbac_pa where role_id=@roleid" />
    </sqlmap>
    <sqlmap id="delete_pa_by_ref">
      <param name="sql" value="delete from rbac_pa where ref_id=@refid" />
    </sqlmap>
    
    <sqlmap id="get_object_by_url" cache="c_object">
      <param name="sql" value="select * from rbac_object where url=@url" />
    </sqlmap>
    <sqlmap id="get_objects_by_roles">
      <param name="sql" value="select * from rbac_object where type=@type and visible=1 
        and (@loginname='root' or id in(select ref_id from rbac_pa where role_id in @roleids))" />
    </sqlmap>
    <sqlmap id="exec_user_auth">
      <param name="sql" value="exec rbac_user_auth @newid,@userid,@appid,@authtype,@authid" />
    </sqlmap>

    <sqlmap id="scale">
      <param name="table" value="rbac_scale" />
      <param name="writetable" value="rbac_scale" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_scale_del @id" />
    </sqlmap>
    <sqlmap id="scale_grid" cache="c_scale">
      <param name="table" value="rbac_scale_view" />
      <param name="writetable" value="rbac_scale" />
      <param name="fields" value="*,1-edit as [add],edit as auth,edit as adedit,1-system as del" />
      <param name="where" value="parentid={@scaleid}" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <action name="admin" value="add_plus=添加,auth_lock=授权,adedit_edit=编辑,addel_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>

    <sqlmap id="user">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_user_del @id" />
    </sqlmap>
    <sqlmap id="user_grid" cache="c_user">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="fields" value="*" />
      <param name="where" value="scale_id={@scaleid} and creator='{@userid}'" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="auth_lock=授权,edit=编辑,del_remove=删除" />
      <query name="keyword" value="loginname like '%{0}%' or username like '%{0}%' or remark like '%{0}%'" />
      <query name="userid" value="ac" />
    </sqlmap>
    <sqlmap id="auth" cache="c_user">
      <param name="table" value="rbac_auth" />
      <param name="writetable" value="rbac_auth" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="auth_grid" cache="c_user">
      <param name="table" value="rbac_auth" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="del_remove=删除" />
      <query name="keyword" value="authtype like '%{0}%'" />
      <query name="userid" value="user_id={0}" />
    </sqlmap>

    <sqlmap id="role">
      <param name="table" value="rbac_role" />
      <param name="writetable" value="rbac_role" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_role_del @id" />
    </sqlmap>
    <sqlmap id="role_tree">
      <param name="sql" value="select id,name,null parentid,orderno from rbac_role where 1=1" />
    </sqlmap>
    <sqlmap id="roleuser_tree">
      <param name="sql" value="select r.id,r.name,null parentid,r.orderno,
          (case when ua.id is null then 0 else 1 end) as checked from rbac_role r 
          left join rbac_ua ua on r.id=ua.role_id and ua.user_id=@userid 
          where scale_id=@scaleid order by r.dcreate" />
      <query name="userid" value="qs" />
      <query name="scaleid" value="qs" />
    </sqlmap>
    <sqlmap id="role_grid">
      <param name="table" value="rbac_role" />
      <param name="writetable" value="rbac_role" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="scale_id={@scaleid}" />
      <param name="orderby" value="orderno" />
      <action name="action" value="auth_lock=授权,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>
    
    <sqlmap id="object">
      <param name="table" value="rbac_object" />
      <param name="writetable" value="rbac_object" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec rbac_obj_del @id" />
    </sqlmap>
    <sqlmap id="object_tree">
      <param name="sql" value="select id,name,parentid,orderno from rbac_object where type=0" />
    </sqlmap>
    <sqlmap id="objectuser_tree">
      <param name="sql" value="select o.id,o.name,o.parentid,o.orderno,o.opnames,pa.opvalue,
          (case when pa.id is null then 0 else 1 end) as checked from rbac_object o 
          left join rbac_pa pa on o.id=pa.ref_id and pa.role_id=@roleid where @loginname='root' 
          or (@loginname!='root' and o.id in(select ref_id from rbac_pa where role_id in @roleids))" />
      <query name="roleid" value="qs" />
      <query name="loginname" value="ac" />
      <query name="roleids" value="ac" />
    </sqlmap>
    <sqlmap id="object_grid" cache="c_object">
      <param name="table" value="rbac_object" />
      <param name="writetable" value="rbac_object" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="orderno" />
      <param name="istree" value="true" />
      <action name="action" value="add_plus=加子,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>

    <!-- 用户找回密码 -->
    <sqlmap id="backpwd">
      <param name="sms_sign" value="有琴有益" />
      <param name="sms_temp" value="SMS_140505080" />
      <param name="sms_errservice" value="短信服务中断，请联系管理员！" />
      <param name="validmobile" value="true" />
      <param name="checksql" value="select 1-count(1) from rbac_user where mobile='{@mobile}'" />
      <param name="checkerr" value="该手机号码未注册为用户！" />
    </sqlmap>
    <!-- 终端用户注册：角色 978665085142564864 -->
    <sqlmap id="regist">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="sms_sign" value="金云" />
      <param name="sms_temp" value="SMS_140505081" />
      <param name="sms_errservice" value="短信服务中断，请联系管理员！" />
      <param name="validmobile" value="true" />
      <param name="creator" value="regist" />
      <param name="roles" value="978665085142564864" />
      <param name="selectsql" value="select id,nickname,username,photo,mobile,mail,remark from rbac_user where id={@userid}" />
      <param name="checksql" value="select count(1) from rbac_user where mobile='{@mobile}'" />
      <param name="checkerr" value="该手机号码已注册为用户！" />
    </sqlmap>
    <sqlmap id="regist_grid">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="fields" value="*" />
      <param name="where" value="creator='wechat'" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=设置用户,auth_lock=授权,user=查看第三方登录授权" />
      <query name="keyword" value="nickname like '%{0}%' or mobile like '%{0}%'" />
    </sqlmap>

  </sqlmaps>
</sqlscope>