<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="sys">
  <caches>
    <cache id="c_table" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="table" />
      <flushonexecute sqlmap="schema" />
    </cache>
    <cache id="c_field" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="field" />
    </cache>
    <cache id="c_dict" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="dict" />
      <flushonexecute sqlmap="dictitem" />
    </cache>
    <cache id="c_dictitem" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="dictitem" />
    </cache>
    <cache id="c_cfgitem" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="cfgitem" />
    </cache>
    <cache id="c_client" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="client" />
    </cache>
    <cache id="c_version" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="version" />
    </cache>
  </caches>
  <sqlmaps>
    <sqlmap id="get_app_client">
      <param name="sql" value="select * from app_client_view where id=@id" />
    </sqlmap>
    <sqlmap id="get_sys_cfg">
      <param name="sql" value="select * from sys_cfgitem where cfg_id=@cfgid" />
    </sqlmap>
    <sqlmap id="get_dictitem_orderno">
      <param name="sql" value="select 10*(count(*)+1) from sys_dictitem where dict=@dict" />
    </sqlmap>

    <sqlmap id="cfg">
      <param name="table" value="sys_cfg" />
      <param name="writetable" value="sys_cfg" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="afterinsertsql" value="
          insert into sys_cfgitem(id,dcreate,cfg_id,name,[key],value,orderno)
          select id+@id,getdate(),@id,name,[key],value,orderno from sys_cfgitem
          where cfg_id=(select id from sys_cfg where code=@code and system=1)" />
      <param name="deletesql" value="
          delete from sys_cfgitem where cfg_id=(select id from sys_cfg where id=@id and system=0)
          delete from sys_cfg where id=@id and system=0" />
    </sqlmap>
    <sqlmap id="cfg_tree">
      <param name="sql" value="select id,fullname name,null as parentid,dcreate as orderno from sys_cfg_view where code=@code" />
      <query name="code" value="qs" />
    </sqlmap>
    <sqlmap id="cfg_list">
      <param name="sql" value="select id value,name text from sys_cfg where code=@code order by dcreate" />
      <query name="code" value="qs" />
    </sqlmap>
    <sqlmap id="cfgitem">
      <param name="table" value="sys_cfgitem" />
      <param name="writetable" value="sys_cfgitem" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="cfgitem_grid" cache="c_cfgitem">
      <param name="table" value="sys_cfgitem" />
      <param name="fields" value="*" />
      <param name="where" value="cfg_id={@cfgid}" />
      <param name="orderby" value="orderno" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="cfgid" value="qs" />
    </sqlmap>

    <sqlmap id="client">
      <param name="table" value="app_client" />
      <param name="writetable" value="app_client" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="exec sys_client_del @id" />
    </sqlmap>
    <sqlmap id="client_tree" cache="c_client">
      <param name="sql" value="select id,name,null parentid,id as orderno from app_client" />
    </sqlmap>
    <sqlmap id="client_grid" cache="c_client">
      <param name="table" value="app_client" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="type" value="type={0}" />
    </sqlmap>
    <sqlmap id="version">
      <param name="table" value="app_version" />
      <param name="writetable" value="app_version" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="version_grid" cache="c_version">
      <param name="table" value="app_version" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="type" value="type={0}" />
      <query name="_clientid" value="client_id={0}" />
    </sqlmap>

    <sqlmap id="schema">
      <param name="table" value="sys_schema" />
      <param name="writetable" value="sys_schema" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="table">
      <param name="table" value="sys_table" />
      <param name="writetable" value="sys_table" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="afterinsertsql" value="exec sys_table_init @id,@table" />
      <param name="selectsql" value="select * from sys_table where [table]=@id" />
      <param name="deletesql" value="exec sys_table_del @id" />
    </sqlmap>
    <sqlmap id="table_tree" cache="c_table">
      <param name="sql" value="select code,name,parentid,orderno,icon from sys_table_view" />
    </sqlmap>
    <sqlmap id="field">
      <param name="table" value="sys_field" />
      <param name="writetable" value="sys_field" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="field_grid" cache="c_field">
      <param name="table" value="sys_field" />
      <param name="fields" value="*,1-created as gj,1*created as cx,1-created as edit,(1-system)*(1-created) as del" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="orderno" />
      <action name="action" value="gj_database=构建,cx_ban=撤销,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="_table" value="[table]='{0}'" />
    </sqlmap>

    <sqlmap id="dict">
      <param name="table" value="sys_dict" />
      <param name="writetable" value="sys_dict" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="selectsql" value="select * from sys_dict where dict=@id" />
      <param name="checkinsertsql" value="select count(*) from sys_dict where dict=@dict" />
      <param name="checkinserterror" value="不能添加相同的字典编码！" />
      <param name="deletesql" value="exec sys_dict_del @id" />
    </sqlmap>
    <sqlmap id="dict_list" cache="c_dict">
      <param name="sql" value="select dict value,dict+'.'+name text from sys_dict order by dict" />
    </sqlmap>
    <sqlmap id="dict_tree" cache="c_dict">
      <param name="sql" value="select dict,name,parentid,dict as orderno from sys_dict_view" />
    </sqlmap>
    <sqlmap id="dictitem">
      <param name="table" value="sys_dictitem" />
      <param name="writetable" value="sys_dictitem" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="checkinsertsql" value="select count(*) from sys_dictitem where dict=@dict and value=@value" />
      <param name="checkinserterror" value="不能添加相同的字典项编码！" />
    </sqlmap>
    <sqlmap id="dictitem_list" cache="c_dictitem">
      <param name="sql" value="select value,name as text from sys_dictitem where dict=@dict order by orderno" />
      <query name="dict" value="qs" />
    </sqlmap>
    <sqlmap id="dictitem_grid" cache="c_dictitem">
      <param name="table" value="sys_dictitem" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="orderno" />
      <action name="action" value="add_plus=加子,edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="_dict" value="dict='{0}'" />
    </sqlmap>
  </sqlmaps>
</sqlscope>