<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="user">
  <caches>
    <cache id="c_chart" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="60" />
    </cache>
  </caches>
	
  <sqlmaps>
    <!-- 全局统计 -->
    <sqlmap id="chart_user_sl" cache="c_chart">
      <param name="sql" value="select name,(select count(*) from rbac_user where creator='regist' and regtype=d.value) as value 
             from sys_dictitem d where dict='REGTYPE'" />
    </sqlmap>

    <!-- 用户找回密码 -->
    <sqlmap id="backpwd">
      <param name="sms_sign" value="有琴有益" />
      <param name="sms_temp" value="SMS_140505080" />
      <param name="sms_errservice" value="短信服务中断，请联系管理员！" />
      <param name="validmobile" value="true" />
      <param name="checksql" value="select 1-count(1) from rbac_user where mobile='{@mobile}'" />
      <param name="checkerr" value="该手机号码未注册为用户！" />
    </sqlmap>
    <!-- 终端用户注册：角色 978665085142564864 -->
    <sqlmap id="user">
      <param name="selectsql" value="select * from rbac_user where id={@id}" />
    </sqlmap>
    <sqlmap id="regist">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="sms_sign" value="金云" />
      <param name="sms_temp" value="SMS_140505081" />
      <param name="sms_errservice" value="短信服务中断，请联系管理员！" />
      <param name="validmobile" value="true" />
      <param name="creator" value="regist" />
      <param name="roles" value="978665085142564864" />
      <param name="selectsql" value="select id,nickname,username,photo,mobile,mail,remark from rbac_user where id={@userid}" />
      <param name="checksql" value="select count(1) from rbac_user where mobile='{@mobile}'" />
      <param name="checkerr" value="该手机号码已注册为用户！" />
    </sqlmap>
    <sqlmap id="regist_grid">
      <param name="table" value="rbac_user" />
      <param name="writetable" value="rbac_user" />
      <param name="fields" value="*,1-system as del" />
      <param name="where" value="creator='wechat'" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=设置用户,auth_lock=授权,user=查看第三方登录授权" />
      <query name="keyword" value="nickname like '%{0}%' or mobile like '%{0}%'" />
    </sqlmap>    
  </sqlmaps>
</sqlscope>