<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="wf">
  <caches>
    <cache id="c_scale" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
    </cache>
  </caches>

  <sqlmaps>
    
    <sqlmap id="get_instance_by_process">
      <param name="sql" value="select * from wf_processinstance 
             where processguid=@processguid and appinstanceid=@appinstanceid" />
    </sqlmap>

  </sqlmaps>
</sqlscope>