<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="wf">
  <caches>
    <cache id="c_category" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="category" />
    </cache>
    <cache id="c_process" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="process" />
    </cache>
  </caches>

  <sqlmaps>
    <sqlmap id="get_instance_by_id">
      <param name="sql" value="
        select * from wf_process where id=(select process_id from wf_task where id=@taskid)
        select * from wf_task where id=@taskid
        select * from wf_instance where appinstanceid=@appinstanceid
        select top 1 * from wf_instancetask where appinstanceid=@appinstanceid and task_id=@taskid order by dcreate desc" />
    </sqlmap>
    <sqlmap id="get_instancetask_by_taskid">
      <param name="sql" value="select * from wf_instancetask where id=(
        select top 1 prev_id from wf_instancetask where task_id=@taskid and action=1 order by dcreate desc)" />
    </sqlmap>
    <sqlmap id="get_task_by_taskno">
      <param name="sql" value="select * from wf_task where process_id=@processid and taskno=@taskno" />
    </sqlmap>
    <sqlmap id="gets_route_by_fromtask">
      <param name="sql" value="select * from wf_route where process_id=@processid and fromtask=@taskno" />
    </sqlmap>
    <sqlmap id="gets_route_by_totask">
      <param name="sql" value="select * from wf_route where process_id=@processid and totask=@taskno" />
    </sqlmap>
    <sqlmap id="delete_task_by_process">
      <param name="sql" value="delete from wf_task where process_id=@processid and id not in @taskids" />
    </sqlmap>
    <sqlmap id="delete_route_by_process">
      <param name="sql" value="delete from wf_route where process_id=@processid" />
    </sqlmap>
    <sqlmap id="exe_instancetask_count">
      <param name="sql" value="select count(*) from wf_instancetask where prev_id=@previd and status>0" />
    </sqlmap>
    <sqlmap id="delete_instancetask_by_prevId">
      <param name="sql" value="delete from wf_instancetask where prev_id=@previd" />
    </sqlmap>

    <sqlmap id="category">
      <param name="table" value="wf_category" />
      <param name="writetable" value="wf_category" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="category_tree" cache="c_category">
      <param name="sql" value="select id,name,parentid,orderno from wf_category" />
    </sqlmap>

    <sqlmap id="process">
      <param name="table" value="wf_process" />
      <param name="writetable" value="wf_process" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="process_tree" cache="c_process">
      <param name="sql" value="select id,name,parentid,orderno from wf_process_tree" />
    </sqlmap>
    <sqlmap id="process_grid" cache="c_process">
      <param name="table" value="wf_process" />
      <param name="fields" value="*,'流程设计' as design" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="orderno" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="_categoryid" value="category_id={0}" />
    </sqlmap>

    <sqlmap id="workflow_grid">
      <param name="table" value="wf_track_view" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <query name="appinstanceid" value="appinstanceid={0}" />
    </sqlmap>
    <sqlmap id="workflow_tree">
      <param name="sql" value="select id,name,parentid,orderno from wf_workflow_view" />
    </sqlmap>
  </sqlmaps>
</sqlscope>