<?xml version="1.0" encoding="utf-8" ?>
<sqlscope id="wx">
  <caches>
    <cache id="c_app" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="app" />
    </cache>
    <cache id="c_menu" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="menu" />
    </cache>
    <cache id="c_media" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="media" />
    </cache>
    <cache id="c_user" type="lru">
      <param name="cachesize" value="100" />
      <param name="flushinterval" value="120" />
      <flushonexecute sqlmap="user" />
    </cache>
  </caches>
  <sqlmaps>
    <sqlmap id="get_wx_app" cache="c_app">
      <param name="sql" value="select * from wx_app_view where id=@id" />
    </sqlmap>
    <sqlmap id="get_wx_menu" cache="c_menu">
      <param name="sql" value="select * from wx_menu where app_id=@appid" />
    </sqlmap>
    <sqlmap id="get_wx_media_local">
      <param name="sql" value="select * from wx_media where app_id=@appid and mediaid is null and id in @ids" />
    </sqlmap>
    <sqlmap id="get_wx_media_remote">
      <param name="sql" value="select * from wx_media where app_id=@appid and mediaid is not null and id in @ids" />
    </sqlmap>
    <sqlmap id="get_wx_news">
      <param name="sql" value="select * from wx_news where id in @ids order by orderno" />
    </sqlmap>
    <sqlmap id="get_wx_vote">
      <param name="sql" value="select * from wx_vote where id=@voteid;exec wx_vote_get @voteid,@openid" />
    </sqlmap>

    <sqlmap id="exec_wx_vote">
      <param name="sql" value="exec wx_vote_ins @newid,@voteitemid,@openid,@content" />
    </sqlmap>
    <sqlmap id="exec_wx_news_upload">
      <param name="sql" value="exec wx_news_upload @appid,@newid,@newsids,@count,@mediaid,@wxurl" />
    </sqlmap>
    <sqlmap id="exec_wx_news_thumb">
      <param name="sql" value="update wx_news set thumbmediaid=@mediaid,thumbwxurl=@wxurl where id=@newsid" />
    </sqlmap>
    <sqlmap id="exec_wx_media_update">
      <param name="sql" value="update wx_media set mediaid=@mediaid,wxurl=@wxurl where id=@id" />
    </sqlmap>
    <sqlmap id="exec_wx_login">
      <param name="sql" value="exec wx_user_login @appid,@authtype,@authid" />
    </sqlmap>
    <sqlmap id="exec_wx_regist">
      <param name="sql" value="exec wx_user_regist @newid,@scaleid,@roleid,@clientid,
          @mobile,@nickname,@photo,@creator,@country,@province,@city,@appid,@authtype,@authid,@unionid" />
      <query name="scaleid" value="967167765444034560" />
      <query name="roleid" value="978665085142564864" />
      <query name="clientid" value="0" />
      <query name="creator" value="wechat" />
    </sqlmap>

    <sqlmap id="app">
      <param name="table" value="wx_app" />
      <param name="writetable" value="wx_app" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="app_list">
      <param name="sql" value="select id as value,name as text from wx_app_view order by dcreate" />
    </sqlmap>
    <sqlmap id="appgzh_list">
      <param name="sql" value="select id as value,name as text from wx_app_view
          where type=0 or type=1 order by dcreate" />
    </sqlmap>
    <sqlmap id="appcfg_list">
      <param name="sql" value="select id as value,name as text from wx_app_view
          where id in(select id from sys_cfg where code='wechat') order by dcreate" />
    </sqlmap>
    <sqlmap id="app_grid" cache="c_app">
      <param name="table" value="wx_app_view" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or type_name like '%{0}%'" />
    </sqlmap>

    <sqlmap id="menu">
      <param name="table" value="wx_menu" />
      <param name="writetable" value="wx_menu" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="menu_list">
      <param name="sql" value="select id as value,name as text from wx_menu where app_id=@appid and parentid is null" />
      <query name="appid" value="qs" />
    </sqlmap>
    <sqlmap id="menu_grid" cache="c_menu">
      <param name="table" value="wx_menu_view" />
      <param name="writetable" value="wx_menu" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="orderno" />
      <param name="istree" value="true" />
      <action name="action" value="add_plus=加子,ed_edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="_appid" value="app_id={0}" />
    </sqlmap>

    <sqlmap id="media">
      <param name="table" value="wx_media_view" />
      <param name="writetable" value="wx_media" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="media_grid" cache="c_media">
      <param name="table" value="wx_media_view" />
      <param name="writetable" value="wx_media" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="dcreate desc" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="_appid" value="app_id={0}" />
    </sqlmap>

    <sqlmap id="news">
      <param name="table" value="wx_news" />
      <param name="writetable" value="wx_news" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
      <param name="deletesql" value="delete from wx_news where id in @ids
          delete from wx_media where id in @ids" />
    </sqlmap>
    <sqlmap id="news_grid">
      <param name="table" value="wx_news_view" />
      <param name="writetable" value="wx_news" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="dcreate desc" />
      <param name="istree" value="true" />
      <action name="action" value="send_share=群发,preview_send=预览,edit=编辑,wxdel_window-close=微信图文删除,del_remove=删除" />
      <query name="keyword" value="title like '%{0}%'" />
      <query name="_appid" value="app_id is null or app_id={0}" />
    </sqlmap>

    <sqlmap id="user">
      <param name="table" value="wx_user" />
      <param name="writetable" value="wx_user" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="user_grid" cache="c_user">
      <param name="table" value="wx_user" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or wxname like '%{0}%' or mobile like '%{0}%'" />
    </sqlmap>
    <sqlmap id="usersel_grid" cache="c_user">
      <param name="table" value="wx_user" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="sel_check=选择" />
      <query name="keyword" value="name like '%{0}%' or wxname like '%{0}%' or mobile like '%{0}%'" />
    </sqlmap>

    <sqlmap id="activity">
      <param name="table" value="wx_activity_view" />
      <param name="writetable" value="wx_activity" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="activity_grid">
      <param name="table" value="wx_activity_view" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
    </sqlmap>

    <sqlmap id="vote">
      <param name="table" value="wx_vote" />
      <param name="writetable" value="wx_vote" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="vote_tree">
      <param name="sql" value="select id,name,parentid,orderno from wx_votetree_view" />
    </sqlmap>
    <sqlmap id="voteitem">
      <param name="table" value="wx_voteitem_view" />
      <param name="writetable" value="wx_voteitem" />
      <param name="insertid" value="true" />
      <param name="inserttime" value="true" />
      <param name="updatetime" value="false" />
    </sqlmap>
    <sqlmap id="voteitem_grid">
      <param name="table" value="wx_voteitem_view" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="wherenotfilter" value="1>2" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="name like '%{0}%' or remark like '%{0}%'" />
      <query name="_voteid" value="vote_id={0}" />
    </sqlmap>
    <sqlmap id="voteitem_view">
      <param name="table" value="wx_voteitem_view" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="name" />
      <query name="voteid" value="vote_id={0}" />
    </sqlmap>
    <sqlmap id="votelog_grid">
      <param name="table" value="wx_votelog" />
      <param name="fields" value="*" />
      <param name="where" value="" />
      <param name="orderby" value="dcreate" />
      <action name="action" value="edit=编辑,del_remove=删除" />
      <query name="keyword" value="content like '%{0}%' or remark like '%{0}%'" />
      <query name="voteitemid" value="voteitem_id={0}" />
    </sqlmap>
  </sqlmaps>
</sqlscope>