@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/bodyct";
}
<div class="alert alert-info">提供各服务端软件的运行状态查看、远程监控！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <ul class="pt5" style="list-style:decimal;padding-left:2em">
        <li class="pt10">
            <b>接入网关</b>
            <div class="pt10 pb10 lh25">
                提供云平台接入网关运行状态监控，包括CPU、内存，进程、线程状态，收发包监控，以及服务远程控制。
            </div>
        </li>
        <li class="pt10">
            <b>云平台</b>
            <div class="pt10 pb10 lh25">
                提供云平台任务处理队列查看、远程监控。
            </div>
        </li>
        <li class="pt10">
            <b>Redis缓存</b>
            <div class="pt10 pb10 lh25">
                查看云平台Redis分布式缓存及队列运行状态。
            </div>
        </li>
    </ul>
</div>