@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/bodyct";
}
<div class="alert alert-info">请认真阅读以下信息，按照操作说明进行数据维护和管理！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <ul class="pt5" style="list-style:decimal;padding-left:2em">
        <li class="pt10">
            <b>栏目管理</b>
            <div class="pt10 pb10 lh25">
                栏目一般对应到网站菜单，或页面区域列表，提供信息/新闻/内容栏目创建、编辑和管理功能。
            </div>
        </li>
        <li class="pt10">
            <b>信息编辑</b>
            <div class="pt10 pb10 lh25">
                信息/新闻/内容位于某栏目下，包含标题、内容、图片、附件等。
            </div>
        </li>
        <li class="pt10">
            <b>信息审核</b>
            <div class="pt10 pb10 lh25">
                信息发布的流程一般为采集（外部投稿）、编辑（内部）、审核（审核后才能发布）、发布等过程。
            </div>
        </li>
        <li class="pt10">
            <b>信息发布</b>
            <div class="pt10 pb10 lh25">
                管理已发布的信息列表，可置顶、取消发布等。
            </div>
        </li>
    </ul>
</div>