@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/back";
}
<div class="alert alert-info">请认真阅读以下信息，按照操作说明进行数据维护和管理！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <div class="pt15">
        <img src="~/apps/plat/cms.png" />
    </div>
</div>