@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/body";
}
<div class="alert alert-info">请认真阅读以下信息，按照操作说明进行数据维护和管理！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <ul class="pt5" style="list-style:decimal;padding-left:2em">
        <li class="pt10">
            <b>测试用户开放</b>
            <div class="pt10 pb10 lh25">
                由管理员开通各生产工厂测试用户，并分配相应的工厂代号。
            </div>
        </li>
        <li class="pt10">
            <b>设备注册</b>
            <div class="pt10 pb10 lh25">
                所有设备经由生产下线后，必须先在云平台进行注册登记，方可连接云平台网关[yun.holtop.com.cn:7345]；<br />
                提供单个设备注册和批量上传注册，注册时须提供MAC地址，云端将按规则生成序列号；<br />
                设备注册后，可打印/批量导出序列号，二维码非客户端扫描为下载，客户端扫描为绑定设备；<br />
                二维码编码规则：http://yun.holtop.com.cn/home/down?clientid=983633255355908096&sbno=XXXXXXXXXXXX
            </div>
        </li>
        <li class="pt10">
            <b>在线测试</b>
            <div class="pt10 pb10 lh25">
                设备配网成功后，会显示设备是否在线、设备状态（操作状态和传感器数据）及远程控制等。
            </div>
        </li>
        <li class="pt10">
            <b>恢复出厂</b>
            <div class="pt10 pb10 lh25">
                提供设备下线测试完成后恢复出厂设置，清除测试产生的数据和痕迹。<b class="cr-red">请务必断电或清除设备配网信息后再恢复出厂！</b>
            </div>
        </li>
    </ul>
</div>