@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "关于风险云";
    Layout = "_shared/webapp";

    var ac = Membership.Current;
    var version = App.GetQuery("version", "");
}
<div class="page">
    <div class="bd" style="top:0">
        <div class="text-c pt30 pb30">
            <div><img src="~/images/logo.png" style="height:100px" /></div>
            <div class="cr-7 ft16 fwb">金云 @version</div>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="/webapp/user/index/agreement">
                <div class="weui-cell__bd">用户使用协议</div>
                <div class="weui-cell__ft" id="uid"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="native://version">
                <div class="weui-cell__bd">检查新版本</div>
                <div class="weui-cell__ft" id="nik"></div>
            </a>
        </div>
    </div>
</div>