@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "设置";
    Layout = "_shared/webapp";

    var ac = Membership.Current;
    var version = App.GetQuery("version", "");
}
<div class="page">
    <div class="bd" style="top:0">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">登录名</div>
                <div class="weui-cell__ft">@(ac.User.LoginName ?? "未设置")</div>
            </div>
            <a class="weui-cell weui-cell_access" href="/webapp/user/index/pwd?version=@version">
                <div class="weui-cell__bd">修改密码</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="/webapp/user/index/help?version=@version">
                <div class="weui-cell__bd">帮助与支持</div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access" href="/webapp/user/index/about?version=@version">
                <div class="weui-cell__bd">关于金云</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="native://logout">
                <div class="weui-cell__bd">退出登录</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>
    </div>
</div>