@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "修改密码";
    Layout = "_shared/webapp";
    
    var version = App.GetQuery("version", "");
}
<div class="page">
    <div class="bd" style="top:0">
    </div>
</div>