@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    Layout = "_shared/back";
    ViewData["Title"] = "编辑";

    Ace.View().Id("view").Ajax(ds => ds.DataSource("iot.cmd").Form(new {
        product_id = App.GetQuery("productid", ""),
        code = "",
        name = "",
        remark = ""
    }).HttpSave()).Content(
        @<div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 编号：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("code").Width("100%").Required().ValidType("length[2,20]")</div>
                <div class="col-xs-4"><span class="text-warning">2-20位字符和数字</span></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r"><span class="cr-red">*</span> 名称：</div>
                <div class="col-xs-6">@Ace.TextBox().Name("name").Width("100%").Required()</div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-r">备注：</div>
                <div class="col-xs-6">@Ace.TextArea().Name("remark").Width("100%").Height(100)</div>
                <div class="col-xs-4"></div>
            </div>
            @Html.AntiForgeryToken()
        </div>
    ).Render();
}
@section startup {
    <script>
        $(function () {
            $('#code').textbox('textbox').keyup(function () {
                $('#code').textbox('setValue', this.value.replace(/[^\w]/g, '').toUpperCase());
            });
        });
    </script>
}