@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/bodyct";
}
<div class="alert alert-info">提供各客户端软件的二维码和各版本下载！</div>
<div class="container-fluid">
    <div class="pt20 pb10 bd-b-dashed">操作说明</div>
    <ul class="pt5" style="list-style:decimal;padding-left:2em">
        <li class="pt10">
            <b>客户端APP</b>
            <div class="pt10 pb10 lh25">
                客户端APP的定义及管理。
            </div>
        </li>
        <li class="pt10">
            <b>Android发版</b>
            <div class="pt10 pb10 lh25">
                安卓版本（Android）APP客户端下载，适用于Android 4.0+手机用户安装。
            </div>
        </li>
        <li class="pt10">
            <b>iOS发版</b>
            <div class="pt10 pb10 lh25">
                苹果版本（Apple iOS）APP客户端下载，适用于Apple iOS 8.0+手机用户安装。
            </div>
        </li>
        <li class="pt10">
            <b>微信公众号</b>
            <div class="pt10 pb10 lh25">
                微信公众号版本，无需安装，首次通过微信关注[环都新风]服务号扫码进入。
            </div>
        </li>
        <li class="pt10">
            <b>智能固件</b>
            <div class="pt10 pb10 lh25">
                终端设备软件，包括主板和面板固件程序，支持在线升级。
            </div>
        </li>
    </ul>
</div>