@model Acesoft.Web.UI.RazorPages.WebPageBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=430,user-scalable=0" />
    <title>@Html.Raw(ViewData["Title"])</title>
<environment include="Development">
    <link rel="stylesheet" href="~/scripts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/scripts/jqweui/dist/lib/weui.css" />
    <link rel="stylesheet" href="~/scripts/jqweui/dist/css/jquery-weui.css" />
    <link rel="stylesheet" href="~/scripts/ace/css/acewe.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/scripts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/scripts/jqweui/dist/lib/weui.min.css" />
    <link rel="stylesheet" href="~/scripts/jqweui/dist/css/jquery-weui.min.css" />
    <link rel="stylesheet" href="~/scripts/ace/css/acewe.min.css" />
</environment>
</head>
<body style="min-width:430px">
    @RenderBody()
    <environment include="Development">
        <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
        <script src="~/scripts/jquery/dist/jquery.js"></script>
        <script src="~/scripts/jqweui/dist/js/swiper.min.js"></script>
        <script src="~/scripts/jqweui/dist/js/jquery-weui.js"></script>
        <script src="~/scripts/signalr/dist/browser/signalr.js"></script>
        <script src="~/scripts/ace/acewe.js"></script>
    </environment>
<environment exclude="Development">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="~/scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/jqweui/dist/js/swiper.min.js"></script>
    <script src="~/scripts/jqweui/dist/js/jquery-weui.min.js"></script>
    <script src="~/scripts/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/scripts/ace/js/acewe.min.js"></script>
</environment>
    @Model.Ace.RenderInitScripts(true)
    @RenderSection("startup", false)
</body>
</html>