@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "产品统计";
    Layout = "_shared/bodyct";
}
<div class="container-fluid pt15">
    @{
        Ace.EChart().Id("chart").Height("490px")
        .Option(opt =>
        {
            opt.AddTitle().Text("按设备地区分布统计");
            opt.AddSeries(ChartType.map).Name("设备数量").Option("map", "china")
                .Option("label", new StringBuilder("{normal:{show:true},emphasis:{show:true}}"));
            opt.Option("tooltip", new StringBuilder("{trigger:'item',formatter:onTooltip}"));
        })
        .Ajax(ds => ds.DataSource("iot.chart_dev_dq").HttpGet())
        .Render();
    }
</div>
@section startup {
    <script src="~/scripts/echarts/dist/echarts.min.js"></script>
    <script src="~/scripts/echarts/map/js/china.js"></script>
    <script>
        function onTooltip(param) {
            if (param.data) {
                return '设备数量　　<br/>' + param.name + '：' + param.value
            }
        }
    </script>
}