<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="AcesoftIotService" />
    <add key="ServiceDisplayName" value="Acesoft Iot Service" />
    <add key="ServiceDescription" value="Acesoft Iot Service is a cloud TCP/IP access gateway for responding to smart devices" />
    <add key="ApiClientUrl" value="http://localhost:5000/api/iot/startclient" />
    <add key="serilog:minimum-level" value="Warning" />
    <add key="serilog:minimum-level:override:Acesoft" value="Debug" />
  </appSettings>
  <superSocket>
    <servers>
      <server name="IotServer" serverTypeName="IotServer" ip="Any" port="7345" maxConnectionNumber="100000" clearIdleSession="true" clearIdleSessionInterval="120" idleSessionTimeOut="300" listenBacklog="1000" sendingQueueSize="500" />
      <server name="ApiServer" serverTypeName="ApiServer" ip="Any" port="9578" />
      <server name="MgtServer" serverTypeName="MgtServer" ip="Any" port="4502">
        <users>
          <user name="root" password="root&amp;12345" />
        </users>
      </server>
    </servers>
    <serverTypes>
      <add name="IotServer" type="Acesoft.IotNet.Iot.IotServer, Acesoft.IotNet" />
      <add name="ApiServer" type="Acesoft.IotNet.Api.ApiServer, Acesoft.IotNet" />
      <add name="MgtServer" type="SuperSocket.ServerManager.ManagementServer, SuperSocket.ServerManager" />
    </serverTypes>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>