@page
@inherits Acesoft.Web.UI.RazorPages.AppPage
@{
    ViewData["Title"] = "智库";
    Layout = "_shared/webapp";

    var ac = Membership.Current;
    var version = App.GetQuery("version", "");
}
<div class="page">
    <div class="bd">
    </div>
</div>
<script>
</script>