@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "概述";
    Layout = "_shared/body";
}
<div class="alert alert-info">在本页下载生产/测试相关资源，版本更新时会同步更新相关资源，请重新下载！</div>
<div class="container-fluid">
    <ul class="pt5" style="list-style:decimal;padding-left:2em">
        <li class="pt10">
            <b>环都智能云平台物联协议</b>
            <div class="pt10 pb10 lh25">
                下载：<a href="/files/环都智能云平台物联协议_v0.94.pdf" target="_blank" title="点击下载">环都智能云平台物联协议.pdf</a>
                <div class="text-warning">当前版本：V0.94，2018-06-22，机密文件，请勿随意传播，违者必究！</div>
            </div>
        </li>
        <li class="pt10">
            <b>设备调试模拟客户端</b>
            <div class="pt10 pb10 lh25">
                <div>HOD1~HOD3系列下载：<a href="/files/iot_hod1_v1.1.exe" target="_blank" title="点击下载">iot_hod1_v1.1.exe</a></div>
                <div>HOD4~HOD5系列下载：<a href="/files/iot_hod4_v1.1.exe" target="_blank" title="点击下载">iot_hod4_v1.1.exe</a></div>
                <div class="text-warning">当前版本：V1.1</div>
            </div>
        </li>
        <li class="pt10">
            <b>二进制字节流加密/解密器</b>
            <div class="pt10 pb10 lh25">
                下载：<a href="/files/binaryencryptor.exe" target="_blank" title="点击下载">binaryencryptor.exe</a>
                <div class="text-warning">当前版本：V1.0</div>
            </div>
        </li>
        <li class="pt10">
            <b>二进制字节流CRC16校验器</b>
            <div class="pt10 pb10 lh25">
                下载：<a href="/files/crc_calc_v0.1.exe" target="_blank" title="点击下载">crc_calc_v0.1.exe</a>
                <div class="text-warning">当前版本：V0.1</div>
            </div>
        </li>
    </ul>
</div>