@page
@inherits Acesoft.Web.UI.RazorPages.WebPage
@{
    ViewData["Title"] = "新风主机";
    Layout = "_shared/wechat";

    // 初始化WechatJsApi
    Ace.WechatInitJsApi((api) =>
    {
        api.Add("hideOptionMenu");
        api.Add("configWXDeviceWiFi");
        api.Add("getLocation");
    });

    var wifiOnly = App.GetQuery("wifi", 0);
    var sbno = App.GetQuery<string>("sbno");
}
<div class="page">
    <div class="hd">
        <div class="title">设备配网</div>
        <div class="clear"></div>
    </div>
    <div class="bd ph15">
        <div class="pt30">
            <div class="cr-9">配置设备上网前请确认已完成以下准备</div>
            <div class="pt30">
                <span class="fa fa-arrow-circle-right cr-green"></span>
                同意获取位置信息，激活【设备配网】按钮
            </div>
            <div class="pt20">
                <span class="fa fa-arrow-circle-right cr-green"></span>
                打开手机WIFI确认通过其连接到网络
            </div>
            <div class="pt20">
                <span class="fa fa-arrow-circle-right cr-green"></span>
                开机状态下，长按设备模式键，屏幕显示53
            </div>
            <div class="pt20">
                <span class="fa fa-arrow-circle-right cr-green"></span>
                按档位和开关键，将数值调节到55
            </div>
            <div class="pt20">
                <span class="fa fa-arrow-circle-right cr-green"></span>
                按模式键确认，WIFI标志闪烁进入配网模式
            </div>
            <div class="pt20">
                <span class="fa fa-arrow-circle-right cr-green"></span>
                点击【配置设备上网】输入WIFI密码后开始配网
            </div>
        </div>
        <div class="buttons_panel pt30">
            <a href="javascript:;" onclick="onWifi()" class="weui-btn weui-btn_primary weui-btn_disabled" id="wifi">设备配网</a>
            @if (wifiOnly == 0)
            {
                <a href="javascript:;" onclick="onAdd()" class="weui-btn weui-btn_primary">设备已连网，跳过此步</a>
            }
            <a href="javascript:history.back()" class="weui-btn weui-btn_default">返回</a>
        </div>
    </div>
</div>
@section startup {
<script>
    var pos = { sbno: '@sbno' };
    function onAdd() {
        AX.ajax({
            url: AX.api({ api: 'iot/postdevice' }),
            type: 'post',
            data: pos,
            cb: function () {
                AX.wxOk('添加成功！');
                AX.go('/wechat/iot/device');
            }
        })
    }
    function onWifi() {
        if (!$(this).hasClass('weui-btn_disabled')) {
            AX.wxWiFi(function () {
                if (@wifiOnly){
                    AX.wxOk('配网成功！');
                    AX.go('/wechat/iot/device');
                }
                else {
                    onAdd();
                }
            });
        }
    }
    $(function () {
        wx.ready(function () {
            wx.hideOptionMenu()

            AX.wxLoc(function (lon, lat) {
                pos.lon = lon;
                pos.lat = lat;
                $.ajax({
                    url: AX.format('http://apis.map.qq.com/jsapi?qt=rgeoc&lnglat={0}%2C{1}&output=jsonp&pf=jsapi&ref=jsapi', lon, lat),
                    type: 'get',
                    dataType: 'jsonp',
                    jsonp: 'cb',
                    success: function (res) {
                        pos.adcode = res.detail.poilist[0].addr_info.adcode;
                        pos.province = res.detail.poilist[0].addr_info.p;
                        pos.city = res.detail.poilist[0].addr_info.c;
                        pos.district = res.detail.poilist[0].addr_info.d;
                        pos.loc = res.detail.poilist[0].addr;
                        $('#wifi').removeClass('weui-btn_disabled');
                    }
                });
            }, function (res) {
                AX.wxWarn('获取定位失败，用户拒绝授权，同意后方可扫码！');
            })
        })
    })
</script>
}