@page
@inherits Acesoft.Web.UI.RazorPages.AppPage
@{
    ViewData["Title"] = "权威专家";
    Layout = "_shared/webapp";

    var ac = Membership.Current;
    var version = App.GetQuery("version", "");
}
<div class="page">
    <div class="bd">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:apply()">
                <div class="weui-cell__bd">在线咨询</div>
                <div class="weui-cell__ft" id="uid">立即咨询</div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:apply()">
                <div class="weui-cell__bd">在线视频诊断</div>
                <div class="weui-cell__ft" id="nik">立即申请</div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:apply()">
                <div class="weui-cell__bd">专家现场服务</div>
                <div class="weui-cell__ft">立即申请</div>
            </a>
        </div>
    </div>
</div>
<script>
    function apply() {
        document.location = "native://toast?text=开通会员后提供专家服务";
    }
</script>